/* * {
  margin: 0;
  padding: 0;
} */
.flex {
  /* container: fluid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.b1 {
  height: 700px;
  width: 700px;
  margin-top: 20px;
  box-shadow: 1px 1px 10px rgb(202, 202, 202);
}
.img {
  height: 90px;
  width: 95px;
  border: none;
}
.row {
  display: flex;
}
.user {
  font-weight: bold;
  color: skyblue;
}
.txt {
  font-weight: bold;
  color: black;
  font-family: "Roboto Slab", serif;
}
.box {
  height: 100px;
  width: 150px;
  margin-left: 190px;
  box-shadow:  1px 1px 2px 1px  rgb(202, 202, 202);
}
.box2 {
  height: 15px;
  width: 15px;
  border: 5px dotted black;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 60px;
}
.p1 {
  font-weight: bold;
  color: black;
}
.i1 {
  margin-left: 60px;
  margin-top: 10px;
}
.p1 {
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin-top: -1px;
}
.s1 {
  font-weight: 300;
  text-align: center;
  margin-top: -15px;
  /* margin-bottom: -10px; */
  font-family: "Roboto Slab", serif;
}
.nm1 {
  margin-left: 20px;
  font-weight: bold;
}
.nm {
  margin-left: 20px;
}
.n1 {

}
