.center {
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}
.cart {
  width: 300px;
}
.Premium {
  padding-top: 15px;
}
.bg-green {
  background-color: rgb(84, 146, 84);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: relative;
  color: white;
}
.mt {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 25px;
}
.ml {
  margin-left: 37%;
}
.btn {
  background-color: rgb(84, 148, 84);
  width: 200px;
  height: 38px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  color: white;
}
.flex {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-top: 50px;
}
p {
  opacity: 0.45;
}
b {
  font-weight: bold;
}
.c1 {
  font-weight: 700;
  color: black;
}
